[Desktop Entry]
Type=Application
Name=CONFIGURED
Comment=Robotics Configuration Studio
Exec=Configured
Terminal=false
Categories=Development;Engineering;